body {
  background: #e3dfc8;
}

#app-name{
  font-family: Pacifico;
  font-size: 34px;
}

.image-view {
  background: #f5f1da;
}

#form-view {
background-color: white;
}

#form-view div h5{
  font-family: 'Open Sans', sans-serif;
}

#form-view form{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.btn-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#image-content img {
  height: 280px;
  width: 280px;
}

#image-content h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #00416d;
}

#image-content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #07689f;
}

#already-have-account {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #07689f;  
}

.btn-submit {
  background: #00416d;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
}

.btn-submit:hover {
  background: #013456;
}

#btn-signup {
  width: 100%;
}
